<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All communities</title>
</head>
<body>
<h1>All communities</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Subscribers count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${communities.isEmpty()}">
        <td colspan="2">There is no any news.</td>
    </tr>
    <tr th:each="c : ${communities}">
        <td><span th:text="${c.getId()}">Id</span></td>
        <td><span th:text="${c.getName()}">Name</span></td>
        <td><span th:text="${c.getSubscribers().size()}">Subscribers count</span></td>
        <td>
            <form th:action="@{/main/community/{id}(id=${c.getId()})}" method="get">
                <input type="submit" value="Community profile">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/main/community/menu}" method="get">
    <input type="submit" value="Back to community menu">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>