<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ban user</title>
</head>
<body>
<h1>Ban user</h1><br>
<form th:action="@{/admin/user/ban/{id}(id=${banModel.getId()})}" method="post" th:object="${banModel}">
    Reason:<input type="text" th:field="*{reason}"><br>
    <input type="submit" value="Ban">
</form>
<br>
<form th:action="@{/admin/panel}" method="get">
    <input type="submit" value="Back to admin panel">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>