<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create community</title>
</head>
<body>
<h1>Create community</h1>
<br>
<form th:action="@{/main/community/create}" method="post" th:object="${commModel}">
    Name: <input type="text" th:field="*{name}">
    <br>
    Description: <input type="text" th:field="*{description}">
    <br>
    Mode:
    <br>
    Public: <input type="radio" value="PUBLIC_MODE" th:field="*{mode}">
    <br>
    Private: <input type="radio" value="PRIVATE_MODE" th:field="*{mode}">
    <br>
    Theme:
    <br>
    Game: <input type="radio" value="GAME_THEME" th:field="*{theme}">
    <br>
    Animal: <input type="radio" value="ANIMAL_THEME" th:field="*{theme}">
    <br>
    News: <input type="radio" value="NEWS_THEME" th:field="*{theme}">
    <br>
    Politic: <input type="radio" value="POLITIC_THEME" th:field="*{theme}">
    <br>
    Other: <input type="radio" value="OTHER_THEME" th:field="*{theme}">
    <br>
    <input type="submit" value="Create">
</form>
<br>
<form th:action="@{/main/community/menu}" method="get">
    <input type="submit" value="Back to community menu">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>