<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Messages</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${messages}">
        <td><span th:text="${m.getDate()}">Date</span></td>
        <td><span th:text="${m.getMessage()}">Message</span></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>