<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Messages</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Chat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${messages.isEmpty()}">
        <td colspan="2">You have not messages.</td>
    </tr>
    <tr th:each="u : ${messages}">
        <td><span th:text="${u.getId()}">Id</span></td>
        <td><span th:text="${u.getName()}">Name</span></td>
        <td><span th:text="${u.getSurname()}">Surname</span></td>
        <td>
            <form th:action="@{/main/messages/{id}(id=${u.getId()})}" method="get">
                <input type="submit" value="Messages">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>