<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<h1>News</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Publisher name</th>
        <th>Publisher surname</th>
        <th>Theme</th>
        <th>Description</th>
        <th>Like count</th>
        <th>Comment count</th>
        <th>Like</th>
        <th>Comment</th>
        <th>Comments</th>
        <th>Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${news.isEmpty()}">
        <td colspan="2">There is not any news.</td>
    </tr>
    <tr th:each="n : ${news}">
        <td><span th:text="${n.getId()}">Id</span></td>
        <td><span th:text="${n.getPublisher().getName()}">Publisher name</span></td>
        <td><span th:text="${n.getPublisher().getSurname()}">Publisher surname</span></td>
        <td><span th:text="${n.getNewsTheme().toString()}">Theme</span></td>
        <td><span th:text="${n.getDescription()}">Description</span></td>
        <td><span th:text="${n.getLike().size()}">Like count</span></td>
        <td><span th:text="${n.getComments().size()}">Comment count</span></td>
        <td>
            <div th:if="${!n.getLike().contains(user)}">
                <form th:action="@{/main/news/like/{id}(id=${n.getId()})}" method="post">
                    <input type="submit" value="Like">
                </form>
            </div>
            <div th:if="${n.getLike().contains(user)}">
                <form th:action="@{/main/news/unlike/{id}(id=${n.getId()})}" method="post">
                    <input type="submit" value="Unlike">
                </form>
            </div>
        </td>
        <td>
            <form th:action="@{/main/news/comment/{id}(id=${n.getId()})}" method="get">
                <input type="submit" value="Comment">
            </form>
        </td>
        <td>
            <form th:action="@{/main/news/comments/{id}(id=${n.getId()})}" method="get">
                <input type="submit" value="Comments">
            </form>
        </td>
        <td>
            <form th:action="@{/main/profile/{id}(id=${n.getPublisher().getId()})}" method="get">
                <input type="submit" value="Profile">
            </form>
        </td>
        <div th:if="${n.getPublisher().getId().equals(user.getId()) || user.isAdmin()}">
            <td>
                <form th:action="@{/main/news/delete/{id}(id=${n.getId()})}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </div>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/main/news}" method="get">
    <input type="submit" value="Back to news menu">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>