<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password settings</title>
</head>
<body>
<h1>Password settings</h1><br>
<form th:action="@{/main/settings/password}" method="post" th:object="${password}">
    Old password: <input type="text" th:field="*{oldPassword}"><br>
    New password: <input type="text" th:field="*{newPassword}"><br>
    <input type="submit" value="Change">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>