<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post news</title>
</head>
<body>
<h1>Post news</h1>
<form th:action="@{/main/news/post}" method="post" th:object="${model}">
    Theme:
    <br>
    Politic: <input type="radio" value="POLITIC_THEME" th:field="*{newsTheme}"><br>
    Game: <input type="radio" value="GAME_THEME" th:field="*{newsTheme}"><br>
    Cinema: <input type="radio" value="CINEMA_THEME" th:field="*{newsTheme}"><br>
    Animal: <input type="radio" value="ANIMAL_THEME" th:field="*{newsTheme}"><br>
    IT: <input type="radio" value="IT_THEME" th:field="*{newsTheme}"><br>
    Other: <input type="radio" value="OTHER_THEME" th:field="*{newsTheme}"><br>
    Description: <input type="text" th:field="*{description}"><br>
    <input type="submit" value="Post">
</form>
<br>
<form th:action="@{/main/news}" method="get">
    <input type="submit" value="Back to news menu">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>