<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:if="${!user.getIsBan()}">
    <h1 th:text="${user.getName()} + ' ' + ${user.getSurname()}"/>
    <h1 th:text="'Id: ' + ${user.getId()}"/>
    <h1 th:text="'Status: ' + ${user.getStatus()}"/>
    <h1 th:text="'Country: ' + ${user.getCountry()}"/>
    <h1 th:text="'City: ' + ${user.getCity()}"/>
    <h1 th:text="'Age: ' + ${user.getAge()}"/><br>
    <div sec:authorize="hasAuthority('ADMIN_ROLE')">
        <form th:action="@{/admin/panel}" method="get">
            <input type="submit" value="Admin panel">
        </form>
    </div>
    <br>
    <form th:action="@{/main/settings}" method="get">
        <input type="submit" value="Settings">
    </form>
    <br>
    <form th:action="@{/main/user/search}" method="get">
        <input type="submit" value="Search user">
    </form>
    <br>
    <form th:action="@{/main/user/friends}" method="get">
        <input type="submit" value="Friends">
    </form>
    <br>
    <form th:action="@{/main/messages}" method="get">
        <input type="submit" value="Messages">
    </form>
    <br>
    <form th:action="@{/main/news}" method="get">
        <input type="submit" value="News menu">
    </form>
    <br>
    <form th:action="@{/main/community/menu}" method="get">
        <input type="submit" value="Communities menu">
    </form>
    <br>
    <table>
        <thead>
        <tr>
            <th>Theme</th>
            <th>Description</th>
            <th>Like count</th>
            <th>Comment count</th>
            <th>Like</th>
            <th>Comment</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${news.isEmpty()}">
            <td colspan="2">You have not news.</td>
        </tr>
        <tr th:each="n : ${news}">
            <td><span th:text="${n.getNewsTheme().toString()}">Theme</span></td>
            <td><span th:text="${n.getDescription()}">Description</span></td>
            <td><span th:text="${n.getLike().size()}">Like count</span></td>
            <td><span th:text="${n.getComments().size()}">Comment count</span></td>
            <td>
                <div th:if="${!n.getLike().contains(user)}">
                    <form th:action="@{/main/news/like/{id}(id=${n.getId()})}" method="post">
                        <input type="submit" value="Like">
                    </form>
                </div>
                <div th:if="${n.getLike().contains(user)}">
                    <form th:action="@{/main/news/unlike/{id}(id=${n.getId()})}" method="post">
                        <input type="submit" value="Unlike">
                    </form>
                </div>
            </td>
            <td>
                <form th:action="@{/main/news/comment/{id}(id=${n.getId()})}" method="get">
                    <input type="submit" value="Comment">
                </form>
            </td>
            <td>
                <form th:action="@{/main/news/comments/{id}(id=${n.getId()})}" method="get">
                    <input type="submit" value="Comments">
                </form>
            </td>
            <td>
                <form th:action="@{/main/news/delete/{id}(id=${n.getId()})}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${user.getIsBan()}">
    <h1 th:text="'Your account is banned.'"/>
</div>
</body>
</html>