<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Enter your data's for registration:</h1><br>
<form th:action="@{/auth/register}" method="post" th:object="${user}">
    Name: <input th:field="*{name}" type="text" id="name" name="name"><br>
    Surname: <input th:field="*{surname}" type="text" id="surname" name="surname"><br>
    Status: <input th:field="*{status}" type="text" id="status" name="status"><br>
    Email: <input th:field="*{email}" type="text" id="email" name="email"><br>
    Age: <input th:field="*{age}" type="text" id="age" name="age"><br>
    City: <br>
    Moscow: <input type="radio" value="Moscow" th:field="*{city}"><br>
    St. Petersburg: <input type="radio" value="Saint-Petersburg" th:field="*{city}"><br>
    Washington: <input type="radio" value="Washington" th:field="*{city}"><br>
    New-York: <input type="radio" value="New-York" th:field="*{city}"><br>
    Country: <br>
    Russia: <input type="radio" value="Russia" th:field="*{country}"><br>
    USA: <input type="radio" value="USA" th:field="*{country}"><br>
    Password: <input th:field="*{password}" type="password" id="password" name="password"><br>
    <input type="submit" value="Register">
</form>
</body>
</html>