<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reported users</title>
</head>
<body>
<h1>Reported users</h1>
<br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Appealed</th>
        <th>Applicant</th>
        <th>Date</th>
        <th>Reason</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${reports.isEmpty()}">
        <td colspan="2">There is not any reports.</td>
    </tr>
    <tr th:each="r : ${reports}">
        <td><span th:text="${r.getId()}">Id</span></td>
        <td><span th:text="${r.getAppealed().getName()} + ' ' + ${r.getAppealed().getSurname()}">Appealed</span></td>
        <td><span th:text="${r.getApplicant.getName()} + ' ' + ${r.getApplicant().getSurname()}">Applicant</span></td>
        <td><span th:text="${r.getDate()}">Date</span></td>
        <td><span th:text="${r.getReason().toString()}">Reason</span></td>
        <td><span th:text="${r.getMessage()}">Message</span></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/admin/panel}" method="get">
    <input type="submit" value="Back to admin panel">
</form>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>