<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:if="${!user_profile.getIsBan()}">
    <h1 th:text="'User profile'"/>
    <h1 th:text="${user_profile.getName()} + ' ' + ${user_profile.getSurname()}"/>
    <div th:if="${!user_profile.getCloseProfile()}">
        <h1 th:text="'Id: ' + ${user_profile.getId()}"/>
        <h1 th:text="'Status: ' + ${user_profile.getStatus()}"/>
        <h1 th:text="'Country: ' + ${user_profile.getCountry()}"/>
        <h1 th:text="'City: ' + ${user_profile.getCity()}"/>
        <h1 th:text="'Age: ' + ${user_profile.getAge()}"/><br>
        <div sec:authorize="hasAuthority('ADMIN_ROLE')">
            <div th:if="${!user_profile.getIsBan()}">
                <form th:action="@{/admin/user/ban/{id}(id=${user_profile.getId()})}" method="get">
                    <input type="submit" value="Ban">
                </form>
            </div>
            <div th:if="${user_profile.getIsBan()}">
                <form th:action="@{/admin/user/unban/{id}(id=${user_profile.getId()})}" method="post">
                    <input type="submit" value="Unban">
                </form>
            </div>
            <br>
        </div>
        <div th:if="${!user.getFriends().contains(user_profile)}">
            <form th:action="@{/main/user/friends/add/{id}(id=${user_profile.getId()})}" method="post">
                <input type="submit" value="Add">
            </form>
        </div>
        <div th:if="${user.getFriends().contains(user_profile)}">
            <form th:action="@{/main/user/friends/remove/{id}(id=${user_profile.getId()})}" method="post">
                <input type="submit" value="Remove">
            </form>

        </div>
        <form th:action="@{/main/message/send/{id}(id=${user_profile.getId()})}" method="get">
            <input type="submit" value="Send message">
        </form>
        <br>
        <form th:action="@{/main/user/report/{id}(id=${user_profile.getId()})}" method="get">
            <input type="submit" value="Report">
        </form>
    </div>
</div>
<div th:if="${user_profile.getIsBan()}">
    <h1 th:text="'User is banned.'"/>
</div>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>