<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<h1>Friends</h1>
<br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Profile</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${friends.isEmpty()}">
        <td colspan="2">You have not friends.</td>
    </tr>
    <tr th:each="f : ${friends}">
        <td><span th:text="${f.getId()}">Id</span></td>
        <td><span th:text="${f.getName()}">Name</span></td>
        <td><span th:text="${f.getSurname()}">Surname</span></td>
        <td>
            <form th:action="@{/main/profile/{id}(id=${f.getId()})}" method="get">
                <input type="submit" value="Profile">
            </form>
        </td>
        <td>
            <form th:action="@{/main/user/friends/remove/{id}(id=${f.getId()})}" method="post">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/main/profile}" method="get">
    <input type="submit" value="Back to my profile">
</form>
</body>
</html>